.tiles-enter {
  opacity: 0.01;
}

.tiles-enter.tiles-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tiles-exit {
  opacity: 1;
}

.tiles-exit.tiles-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
